nav
{
    display: inline-block;
	position: relative;
	margin-left: 40%;
	text-align: center;
	border-left: 2px black solid;
	border-bottom: 2px black solid;
	border-right: 2px black solid;
	border-radius: 5px;
	margin-bottom: 5px;
}
nav ul
{
    list-style-type: none;
}
nav li
{
    display: inline-block;
    margin-right: 15px;
}
nav a
{
    font-weight: normal;
    font-size: 1.3em;
    color: #181818;
    padding: 3px;
    text-decoration: none;
}
a:hover
{
    color: #760001;
    border-bottom: 1px solid #760001;
}
a
{
	color: #760001;
	text-decoration: none;
}
.bouttons
{
padding: 3px;
background-color: rgba(34,34,51,0.6);
box-shadow: 0px 2px 5px #1c1a19;
border-radius: 5px;
color: white;
font-size: 0.8em;
}
.titre
{
	font-size: 1.3em;
	text-decoration: underline;
}
.entete
{
	font-size: 0.7em;
}
.nouveaute
{
	width: 50%;
	max-height : 200px;
    margin: auto;
    border: 1px solid black;
    text-align: justify;
    padding: 12px;
    margin-bottom: 20px;
	word-wrap: break-word;
	overflow: auto;
}
.livre
{
	width: 20%;
	margin: auto;
	overflow: auto;
}
.pages_livre
{
	width: 20%;
	margin: auto;
}
.inscription
{
	width: 20%;
	margin: auto;
}
.panel, .membre
{
	width: 20%;
	margin: auto;
}
.gestion_nouveaute
{
	overflow: hidden;
	display: inline-block;
	max-width: 400px;
	margin-bottom: 15px;
}